<div class="container">

  <div class="row">
    <div class="col-12">
      <input name="search" type="text" class="form-control" placeholder="Pesquise pelo Título, Episódio, Diretor ou ano..."/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table-striped">
        <tr>
          <th>Título</th>
          <th>Episódio</th>
          <th>Diretor</th>
          <th>Ano</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

</div>
